/* see: https://github.com/markdowncss?type=source */
@media print {
  .markdown *,
  .markdown ::after,
  .markdown ::before {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .markdown a,
  .markdown a:visited {
    text-decoration: underline;
  }

  .markdown a[href]::after {
    content: ' (' attr(href) ')';
  }

  .markdown abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  .markdown a[href^='#']::after,
  .markdown a[href^='javascript:']::after {
    content: '';
  }

  .markdown blockquote,
  .markdown pre {
    page-break-inside: avoid;
    border: 1px solid #999;
  }

  .markdown thead {
    display: table-header-group;
  }

  .markdown img,
  .markdown tr {
    page-break-inside: avoid;
  }

  .markdown img {
    max-width: 100% !important;
  }

  .markdown h2,
  .markdown h3,
  .markdown p {
    orphans: 3;
    widows: 3;
  }

  .markdown h2,
  .markdown h3 {
    page-break-after: avoid;
  }
}

.markdown {
  max-width: 48rem;
  margin: 6rem auto 1rem;
  color: #444;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.85;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .markdown {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .markdown {
    font-size: 16px;
  }
}

.markdown .air-p,
.markdown p {
  margin-bottom: 1.3em;
  font-size: 1em;
}

.markdown .air-h1,
.markdown .air-h2,
.markdown .air-h3,
.markdown .air-h4,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.42;
}

.markdown .air-h1,
.markdown h1 {
  margin-top: 0;
  font-size: 3.998em;
}

.markdown .air-h2,
.markdown h2 {
  font-size: 2.827em;
}

.markdown .air-h3,
.markdown h3 {
  font-size: 1.999em;
}

.markdown .air-h4,
.markdown h4 {
  font-size: 1.414em;
}

.markdown .air-h5,
.markdown h5 {
  font-size: 1.121em;
}

.markdown .air-h6,
.markdown h6 {
  font-size: 0.88em;
}

.markdown .air-small,
.markdown small {
  font-size: 0.707em;
}

.markdown canvas,
.markdown iframe,
.markdown img,
.markdown select,
.markdown svg,
.markdown textarea,
.markdown video {
  max-width: 100%;
}

.markdown img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.markdown a,
.markdown a:visited {
  color: #3498db;
}

.markdown a:active,
.markdown a:focus,
.markdown a:hover {
  color: #2980b9;
}

.markdown pre {
  padding: 1em;
  background-color: #fafafa;
}

.markdown blockquote,
.markdown pre {
  text-align: left;
}

.markdown blockquote {
  margin: 0;
  padding: 1.33em;
  font-style: italic;
  border-left: 5px solid #7a7a7a;
}

.markdown li,
.markdown ol,
.markdown ul {
  font-weight: 300;
  text-align: left;
}

.markdown ul,
.markdown ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: #777;
}
